<form class="column-form" #supplyform="ngForm" (ngSubmit)="onSubmit(supplyform)">
  <mat-form-field>
    <mat-label>Food</mat-label>
    <input type="text" placeholder="Select food" aria-label="food" matInput [formControl]="myControl" [matAutocomplete]="auto" name="food" ngModel required>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input type="number" matInput placeholder="1" name="quantity" ngModel required>
    <span matSuffix>{{activeUnit}}</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Expire in</mat-label>
    <input matInput [matDatepicker]="picker" ngModel>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!supplyform.valid">Salva</button>
</form>